*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

a {
  text-decoration: none;
  padding: 5px;
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 0;
}

body {
  color: #0C53A6;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  background: #885fff;
}